<app-header-e-kaly></app-header-e-kaly>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Fiche Resto</h3>
      
        <a href="/access-admin/auth/update-restos/{{id}}"><button type="button" class="btn btn-yellow py-2 px-4 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
            Modifier
        </button></a>
        <button (click)="deleteResto(resto._id)" style="float:right" type="button" class="btn btn-red py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-l-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
            Supprimer
        </button>            
        
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Nom</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{resto.nom}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Contact</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{resto.contact}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Adresse</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{resto.adresse}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Ville</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{resto.ville[0].libelle}}</dd>
        </div>
      </dl>
    </div>
  </div>
  <h1 style="text-align: center">Les utilisateurs</h1>
  <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
    <button style="margin: 1% 2%" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ajouter utilisateur +</button>    
    <select name="addUser" autocomplete="country-name" class="mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" ngModel>
      <option selected disabled>Selectionnez ici</option>
      <option *ngFor="let u of dataform" value="{{u._id}}">{{u.email}}</option>
    </select>  
    <input type="hidden" name="id" ngModel="{{resto._id}}" >
    <input type="hidden" name="nom" ngModel="{{resto.nom}}" >
    <input type="hidden" name="adresse" ngModel="{{resto.adresse}}">
    <input type="hidden" name="ville" ngModel="{{resto.ville[0]._id}}" >
     <input type="hidden" name="contact" ngModel="{{resto.contact}}" >  
  </form>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
      <th scope="col" class="px-6 py-3">
        Nom 
      
      </th>
      <th scope="col" class="px-6 py-3">
      Prénom 
      </th>
      <th scope="col" class="px-6 py-3">
      Email 
      </th>
      <th scope="col" class="px-6 py-3">
      Adresse 
      </th>   
      <th scope="col" class="px-6 py-3">
      Contact
      </th>           
      <th scope="col" class="px-6 py-3">
      <span class="sr-only">Edit</span>
      </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of resto.users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
      <a href="/access-admin/auth/fiche-users/{{user._id}}">{{user.nom}}</a>
      </th>
      <td class="px-6 py-4">
        <a href="/access-admin/auth/fiche-users/{{user._id}}">{{user.prenom}}</a>
      </td>
      <td class="px-6 py-4">
        <a href="/access-admin/auth/fiche-users/{{user._id}}">{{user.email}}</a>
      </td>
      <td class="px-6 py-4">
      {{user.adresse}}
      </td>  
      <td class="px-6 py-4">
      {{user.contact}}
      </td>  
      <td class="px-6 py-4 text-right">
  
          <div class="inline-flex rounded-md shadow-sm" role="group">
            <form #myformremove = "ngForm" (ngSubmit) = "removeUser(myformremove)">
              <input type="hidden" name="id" ngModel="{{resto._id}}" >
              <input type="hidden" name="removeUser" ngModel="{{user._id}}">              
              <button type="submit" class="btn btn-red py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-l-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                  <fa-icon [icon]="faRemove"></fa-icon>
              </button>          
            </form>
              </div>
              
      </td>   
      </tr>        
      </tbody>
      </table>
      </div>  
  <app-footer></app-footer>