<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    theme: {
      extend: {
        gridTemplateRows: {
          '[auto,auto,1fr]': 'auto auto 1fr',
        },
      },
    },
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<app-header></app-header>
<div class="bg-white">
    <div class="pt-6">
        <h1  class="text-2xl w-full font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{plat.platsinfo.libelle}} [{{plat.info.prixVente}} MGA]<button style="float: right" type="submit" class="">Add to bag</button></h1>

      <!-- Image gallery -->
      <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div class="aspect-w-4 aspect-h-5 sm:rounded-lg sm:overflow-hidden lg:aspect-w-3 lg:aspect-h-4">            
            <img src="/assets/images/default.jpg" alt="Model wearing plain white basic tee." class="w-full h-full object-center object-cover">
          </div>  
        <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
            
        </div>

        <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
          <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
            
          </div>
          <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
            
          </div>
        </div>
      
      </div>
  
      <!-- Product info -->
      <div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{plat.platsinfo.libelle}} ({{plat.platsinfo.createur[0].nom}})</h1>
        </div>
  
        <!-- Options -->
        <div class="mt-4 lg:mt-0 lg:row-span-3">
          
  
          <form class="mt-10">                    
  
            
          </form>
        </div>
  
        <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <!-- Description and details -->
          <div>
            
  
            <div class="space-y-6">
              <p class="text-base text-gray-900">{{plat.platsinfo.description}}</p>
            </div>
          </div>
  
          
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Recette</h2>
  
            <div class="mt-4 space-y-6">
              <p class="text-sm text-gray-600">{{plat.platsinfo.recette}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>